@media (max-width: 1400px) {
    header {
        padding: 16px 32px;
    }

    .first,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .ninth,
    .tenth,
    .eleventh {
        padding: 100px 32px;
    }

    .officeImg {
        max-width: 685px;
        max-height: 456px;
    }

    .second {
        padding: 140px 32px 100px;
    }

    .projectImg {
        max-width: 719px;
        max-height: 448px;
    }

    .info {
        max-width: 617px;
        max-height: 411px;
    }

    .gap_for_second {
        column-gap: 0px;
    }

    .third {
        padding: 0px 32px 100px;
    }

    .workImg {
        max-width: 583px;
        max-height: 542px;
    }

    .gap_for_xl3 {
        column-gap: 160px;
    }

    .work {
        max-width: 593px;
        max-height: 324px;
    }

    .gap_for_xl4 {
        column-gap: 98px;
    }

    .extension {
        max-width: 552px;
        max-height: 381px;
    }

    .customiseImg {
        max-width: 670px;
        max-height: 499px;
    }

    .customise {
        max-width: 606px;
        max-height: 407px;
        padding: 0px;
    }

    .your_data {
        max-width: 655px;
        max-height: 324px;

    }

    .your_data_info {
        max-width: 655px;
        max-height: 201px;
    }

    .apps {
        max-width: 654px;
        max-height: 345px;
    }

    .apps_group {
        max-width: 654px;
        height: 468px;
    }

    .slick-slide {
        max-width: 424px;
        margin: 0px;
    }

    .twelfth,
    footer {
        padding: 140px 32px 32px;
    }
}

@media (max-width: 1152px) {
    .navbar-nav-header {
        display: none;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .ninth,
    .tenth,
    .eleventh {
        padding: 140px 32px;
    }

    .mobMenuBtn {
        display: block;
        background-color: #043873;
        color: white;
    }

    .forH1,
    .letter h2 {
        font-size: 64px;
        line-height: 77px;
    }

    .officeImg {
        max-width: 526px;
        max-height: 350px;
    }

    .projectImg {
        max-width: 527px;
        max-height: 328px;
    }

    .info {
        max-width: 528px;
        max-height: 421px;
    }

    .workImg {
        max-width: 528px;
        max-height: 491px;
    }

    .work {
        max-width: 527px;
        max-height: 314px;
    }

    .gap_for_xl3 {
        column-gap: normal;
    }

    .gap_for_xl4 {
        column-gap: normal;
    }

    .extension {
        max-width: 528px;
        max-height: 284px;
    }

    .extensionImg {
        max-width: 459px;
        max-height: 320px;
    }

    .customiseImg {
        max-width: 534px;
        max-height: 397px;
    }

    .customise {
        max-width: 494px;
        max-height: 391px;
        padding: 0px;
    }

    .your_data {
        max-width: 526px;
        max-height: 344px;
        padding: 0px;
    }

    .your_data_info {
        max-width: 526px;
        max-height: 221px;
    }

    .elementImage {
        max-width: 562px;
        max-height: 314px;
        align-self: center;
    }

    .apps {
        max-width: 460px;
        max-height: 422px;
    }

    .apps_group {
        max-width: 460px;
        height: 545px;
        row-gap: 130px;
    }

    .appsImg {
        max-width: 528px;
        max-height: 427px;
        align-self: center;
    }

    .slick-slide {
        max-width: 341px;
        margin: 0px;
        padding: 60px 24px;
    }
}

@media (max-width: 768px) {
    .hide_mbl {
        display: none;
    }

    .sixth {
        display: none;
    }

    .navbar-footer {
        display: block;
    }

    .first {
        justify-content: center;
        align-items: center;
        padding: 140px 20px 100px;
        column-gap: 100px;
    }

    .textCenter {
        text-align: center;
        align-self: center;
    }

    .forH1,
    .letter h2 {
        font-size: 54px;
        line-height: 65px;
    }

    .gap_for_first {
        row-gap: 100px;
    }

    .centering {
        justify-content: center;
    }

    .second {
        padding: 100px 20px;
    }

    .info {
        max-width: 728px;
        max-height: 298px;
    }

    .for_mb {
        flex-direction: column;
        justify-content: center;
    }

    .gap_for_second {
        row-gap: 140px;
    }

    .third {
        padding: 0px 20px 100px;
    }

    .workImage {
        width: 454px;
        height: 422px;
    }

    .work {
        width: 728px;
        height: 268px;
    }

    .gap_for_xl3 {
        row-gap: 100px;
    }

    .substitute_for_mb {
        flex-direction: column-reverse;
    }

    .fourth {
        padding: 100px 32px;

    }

    .gap_for_fourth {
        row-gap: 60px;
    }

    .fifth {
        padding: 140px 20px;
    }

    .aI_center {
        align-items: center;
    }

    .sixth,
    .seventh,
    .eighth,
    .ninth,
    .tenth {
        padding: 140px 20px;
    }

    .textStart {
        text-align: start;
        align-self: start;
    }

    .text_block_group {
        max-width: 100%;
        max-height: max-content;
        padding-right: 124px;
        row-gap: 140px;
    }

    .your_data_info {
        max-width: 100%;
        max-height: max-content;
    }

    .gap_for_eighth {
        row-gap: 60px;
    }

    .gap_for_ninth {
        row-gap: 100px;
    }

    .apps_group {
        max-width: 100%;
        max-height: max-content;
        row-gap: 60px;
    }

    .apps {
        max-width: 100%;
        height: min-content;
    }

    .gap_for_footer {
        row-gap: 100px;
    }

    .footerBlock {
        column-gap: 20px;
    }

    .footer-p {
        display: flex;
        justify-content: space-between;
    }

    .centering_s {
        justify-content: start;
    }
}

@media (max-width: 320px) {

    .sixth {
        display: none;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .eighth,
    .ninth {
        padding: 80px 16px;
    }

    .forH1,
    .letter h2 {
        font-size: 36px;
    }

    .officeImg {
        width: 100%;
        max-width: 286px;
        max-height: 191px;
    }

    .info {
        width: 100%;
        max-width: 288px;
        max-height: 422px;
    }

    .projectImg {
        max-width: 286px;
        max-height: 177px;
    }

    .workImage {
        max-width: 279px;
        max-height: 260px;
    }

    .work {
        max-width: 288px;
        max-height: 348px;
    }

    .extensionImg {
        max-width: 284px;
        max-height: 198px;
    }

    .gap_for_fourth {
        row-gap: 170px;
    }

    .customiseImg {
        max-width: 288px;
        max-height: 214px;
    }

    .customise {
        max-width: 288px;
        max-height: 386px;
    }

    .gap_for_fifth {
        row-gap: 60px;
    }

    .seventh {
        padding: 100px 16px 140px;
    }

    .text_block_group {
        padding-right: 0px;
        max-width: 288px;
        max-height: max-content;
    }

    .text_block {
        max-width: 288px;
        max-height: 396px;
    }

    .elementImage {
        width: 100%;
        max-width: 290px;
        max-height: 162px;
    }

    .sponsorsImg {
        max-height: 60px;
    }

    .appsImg {
        max-width: 286px;
        max-height: 232px;
    }

    .gap_for_footer {
        text-align: center;
    }

    .footer-bloc {
        align-items: center;
    }

    .footer-bloc p {
        align-items: center;
    }

    .footerBlock {
        flex-direction: column;
    }
}