html {
    overflow-x: hidden;
}


body {
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: -0.02em;
}

header {
    background-color: #043873;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    max-width: 1920px;
    padding: 16px 220px;
    font-size: 18px;
}

header img {
    max-width: 191px;
    max-height: 34px;
}

a {
    text-decoration: none;
    outline: none;
    color: white;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
}

.navbar-nav-header {
    column-gap: 32px;
}

.dropdown-menu a:hover {
    color: #FFE492;
    background-color: #043873;
}

.login_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE492;
    color: #043873;
    border-radius: 8px;
    padding: 16px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.login_btn:hover {
    background-color: #4F9CF9;
    color: white;
}

.button_group {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 20px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.button_group::after {
    content: '\e86c';
    font-family: "fontello";
    padding-left: 10px;
    color: white;
    text-align: center;
}

.button_group:hover {
    background-color: #FFE492;
    color: #043873;
}

.button_group:hover::after {
    color: #043873;
    transition: all 0.5s ease;
}

h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

#navbarDropdown {
    color: white;
}

.mobMenuBtn {
    display: none;
}

.icon-menu::before {
    content: '\e873';
}

/* .text_center {
    text-align: center;
} */

.text_block_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
    align-self: center;
    padding: 0px;
}

.text_block {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.image_block_right {
    display: flex;
    justify-content: end;
}

.for_mb {
    column-gap: 60px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1920px;
}

.first {
    padding: 140px 220px;
    background-color: #043873;
    color: white;

}

.first .text_block_btn {
    max-width: 656px;
}

.vector {
    background-image: url(image/Group.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 482.21px 29.38px;

}

.vector2 {
    background-size: 298.36px 28.81px;
    background-position: bottom center;
}

.vector3 {
    background-size: 333px 19px;
}

.vector4 {
    background-size: 447.44px 31.47px;
}

.vector5 {
    background-size: 316.92px 30.11px;
}

.vector6 {
    background-image: url(image/Vector.png);
    background-size: 312.23px 23.96px;
}

.vector7 {
    background-size: 326.15px 36.56px;
}

.vector8 {
    background-size: 326.15px 42.47px;
}

.vector9 {
    background-size: contain;
    background-position: center;
}

.officeImg {
    width: 100%;
    max-width: 824px;
    max-height: auto;
    background: #C4DEFD;
}

.second {
    padding: 140px 220px 100px;
    color: black;
    background-color: white;
}

.second .text_block_btn {
    max-width: 672px;
}

.projectImg {
    width: 100%;
    max-width: 748px;
    height: auto;
    background: #C4DEFD;
}

.third {
    padding: 0px 220px 140px;
    color: black;
    background-color: white;
}

.third .image_block {
    padding: 0px;
}

.third .text_block_btn {
    max-width: 670px;
}

.workImg {
    width: 100%;
    max-width: 710px;
    height: auto;
}

.fourth {
    padding: 140px 220px;
    color: white;
    background-color: #043873;
}

.fourth .text_block_btn {
    max-width: 697px;
}

.extensionImg {
    width: 100%;
    max-width: 686px;
    height: auto;
}

.fifth {
    padding: 140px 220px;
    color: black;
    background-color: white;
}

.fifth .image_block {
    padding: 0px;
}

.fifth .text_block_btn {
    max-width: 669px;
}

.customiseImg {
    width: 100%;
    max-width: 714px;
    height: auto;
}

.sixth {
    padding: 140px 220px;
    color: black;
    background-color: white;
}

.titleCard {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 1481px;
    height: auto;
    text-align: center;
    padding-bottom: 123px;
}

.cards_slider .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 44px;
    border-color: #FFE492;
    row-gap: 25px;
    min-width: 472px;
}

.card_li ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    row-gap: 28px;
    column-gap: 19p;

}

.card_li li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin-left: 37px;
}

.card_li {
    width: 100%;
    max-width: 384px;
    height: auto;
    position: relative;
}

.card_li li::before {
    content: '\e800';
    font-family: "fontello";
    position: absolute;
    padding-right: 19px;
    font-size: 18px;
    left: 0px;
}

.card_button {
    padding: 16px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FFE492;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    color: black;
}

/* .cards_slider {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    max-width: 1481px;
    max-height: 761px;
} */

.cards_slider .slide:hover {
    background-color: #043873;
    color: white;
    border: none;
}

.cards_slider .slide:hover h3 {
    color: #FFE492;
}

.cards_slider .slide:hover li::before {
    content: '\e800';
    font-family: "fontello";
    color: #FFE492;
}

.cards_slider .slide:hover a {
    color: white;
}

.cards_slider .slide:hover .card_button {
    background-color: #4F9CF9;
    border: none;
    transition: all 0.5s ease;
}


.cards_slider .slide .card_button:hover {
    background-color: #FFE492;
    color: #043873;
    transition: all 0.5s ease;
}

.card1-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.card1-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

.card1-text {
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.seventh {
    padding: 140px 220px;
    color: white;
    background-color: #043873;
}

.text_block7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1076px;
    height: auto;
    row-gap: 24px;
    text-align: center;
}

.text_block7_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    padding: 0px;
}

.eighth {
    padding: 140px 220px;
    color: black;
    background-color: white;
}

.eighth .text_block_btn {
    max-width: 800px;
}

.eighth .for_mb {
    column-gap: 0px;
}

.elementImage {
    max-width: 681px;
    height: auto;
}

.ninth {
    padding: 140px 220px;
    color: black;
    background-color: white;
}

.ninth .for_mb {
    justify-content: space-between;
}

.sponsorsImg {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 71px;
    justify-content: space-between;
}

.tenth {
    padding: 140px 220px;
    color: white;
    background-color: #043873;
}

.tenth .image_block {
    padding: 0px;
    margin: 0px;
    max-width: 582px;
}

.tenth .for_mb {
    column-gap: 100px;
}

.tenth .text_block_btn {
    max-width: 798px;
}

.appsImg {
    width: 100%;
    max-width: 582px;
    height: auto;
}

.eleventh {
    padding: 200px 220px;
    color: black;
    background-color: white;
}

.title_Clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide_icon {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 40px;
    row-gap: 32px;
}

.slide_icon div::before {
    content: '\f10d';
    font-family: "fontello";
    min-width: 86px;
    min-height: 61.46px;
}

.rev_slider .slide {
    display: flex;
    column-gap: 32px;
    color: white;
    background-color: #4F9CF9;
    max-width: 471px;
    height: auto;
    padding: 60px 40px;
    border-radius: 10px;
}

.rev_slide_block {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.rev_slide_block1 {
    display: flex;
    flex-direction: column;
}

.rev_slide_block2 {
    display: flex;
    column-gap: 42px;
}

.name {
    color: #043873;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.avatar {
    height: 95px;
    position: relative;
}

.slick-dots li button::before {
    font-size: 12px;
    color: #4F9CF9;
    padding-top: 60px;
}

.rev_slider .slide:hover {
    background-color: white;
    color: black;
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}

.rev_slider {
    max-width: 1479px;
    display: flex;
    column-gap: 32px;
}

.twelfth {
    padding: 140px 220px 32px;
    color: white;
    background-color: #043873;
}

.imageLogo {
    width: 100%;
    max-width: 60px;
    height: auto;
}

.before-futer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.twelfth .text_block {
    width: 100%;
    max-width: 608px;
    height: auto;
    text-align: center;
}

.before-futer p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #043873;
    color: white;
    max-width: 1920px;
    padding: 140px 220px 32px;
}

.navbar-footer {
    display: flex;
    align-items: center;
    column-gap: normal;
    justify-content: space-between;
    padding: 0px;
}

footer .for_mb {
    column-gap: 100px;
    justify-content: space-between;
}

.footer-image {
    max-width: 191px;
    height: auto;
}

.footer-bloc {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 233px;
    height: auto;
}

.footer-bloc a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

footer a:hover {
    color: #FFE492;
}

.footer-bloc2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 234px;
    height: auto;
    row-gap: 23px;
    padding: 0px;
    margin: 0px;
}

.footer-navlink {
    color: white;
    font-size: 16px;
}

.footer-navlink::before {
    content: url(image/IconLanguage.png);
    max-width: 19px;
    height: auto;
}

footer .dropdown a:hover {
    color: #FFE492;
}

.messengers {
    display: flex;
    justify-content: end;
    column-gap: 32px;
    align-items: center;
}

.facebook::after {
    content: '\f300';
    font-family: "fontello";
    font-size: 17px;
    color: white;
}

.twitter::after {
    content: '\e802';
    font-family: "fontello";
    font-size: 17px;
    color: white;
}

.linkedin::after {
    content: '\e801';
    font-family: "fontello";
    font-size: 17px;
    color: white;
}